* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    border-bottom: 5px solid black;
    z-index: 1001;
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;

}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://github.com/yScroww/Pokedex-Site/blob/main/bg/bg%20(1).gif?raw=true") no-repeat bottom center scroll;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}

nav.menu-lateral {
    width: 65px;
    height: 100vh;
    position: sticky;
    top: 0px;
    background-color: #ff0000;
    padding: 40px 0 40px;
    box-shadow: 5px 0 0 black;
    transition: .5s;
    overflow: hidden;
    display: inline;
    z-index: 2;
}

nav.aberto {
    width: 20%;
    overflow-y: scroll;
}

.search-bar {
    display: none;
    width: 100%;
}

.search-bar input {
    padding: 10px;
    padding-right: 45px;
    border: 1px solid #333;
    width: 100%;
    margin-left: 10%;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35%;
}

.pokemon-list {
    margin-top: 138px;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 300%;
    transition: .5s;
    z-index: 0;
}

.pokemon-card img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.pokemon-card {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 6px solid #73d8e69d;
    margin-bottom: 2px;
    background-color: #ffffff3a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
    color: #000000;
    background-color: white;

}

.pokemon-card legend {
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
}

.pokemon-card:hover {
    transform: scale(1.1);
}


.pokemon-card h2 {
    margin-bottom: 1px;
    text-transform: capitalize;
}


.teste {
    display: flex;
}

.btn-expandir {
    width: 100%;
    padding: 10px 15px;
    transition: .5s;
}

.btn-expandir.escala-invertida {
    transform: scale(-1);
}

.btn-expandir>i {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
    width: 100%;
}

ul li.item-menu {
    transition: .5s;
}

ul li.item-menu button.ativo {
    background-color: #e40b0b;
}

ul li.item-menu button:hover {
    background-color: #e40b0b;
}

ul li.item-menu button {
    color: #fff;
    border: none;
    font-size: 3vh; font-size: 1.1vw;
    padding: 10px 3%;
    display: flex;
    background-color: #ff0000;
    text-align: center;
    transition: .5s;
    cursor: pointer;
    width: 100%;
}

ul li.item-menu button .txt-link {
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.aberto .txt-link {
    opacity: 1;
    line-height: 45px;
    text-align: center;
    width: 100%;
}

ul li.item-menu img {
    width: 50px;
    height: 50px;
}