* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 5px solid black;
    z-index: 1001;
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;

}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 253, 253);
    color: #333;
}

nav.menu-lateral a {
    color: #fff;
    text-decoration: none;

}

nav.menu-lateral {
    width: 300px;
    height: 100vh;
    position: sticky;
    top: 82px;
    border-right: 5px solid black;
    background-color: #ff0000;

}

.search-bar {
    background-color: blue;
    z-index: 100;
}

.search-bar input {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 45px;
    width: 850px;
}

.pokemon-card img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.pokemon-card {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid #73d8e69d;
    margin-bottom: 2px;
    background-color: #ffffff3a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.pokemon-card:hover {
    transform: scale(1.1);
}


.pokemon-card h2 {
    margin-bottom: 1px;
    text-transform: capitalize;
}


.teste {
    display: flex;
}