body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 253, 253);
    color: #333;
}

header {
    background-color: #dc0a2d;
    color: #fff;
    padding: 20px;
    text-align: center;

}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-bar {

    background-color: #fff;
    z-index: 100;
    margin-left: 40px;
}

.search-bar input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon-card {
    background-color: #fff;
    border: 1px solid #dddddd91;
    padding: 20px;
    text-align: center;
}

.pokemon-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}
.pokemon-card {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 6px solid #73d8e69d;
    margin-bottom: 2px;
    background-color: #ffffff3a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
    color: #000000;
    background-color:white;

}

.pokemon-card:hover {
    transform: scale(1.1);
}
.pokemon-card legend{
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
}
.pokemon-card img {
    width: 150px;
    height: auto;
}

.team {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    padding: 2em;
}